<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/faq.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<title>Guardian Angel</title>
<header id=mainHeader>
	<div class="headDiv">
		<h2 id=mainHeaderName>Guardian Angel</h2>
			<ul class="menuList">
				<li class="headerMenuItem"><a class="headerMenuItemClass" href="/">Home</a></li>
				<li class="headerMenuItem"><a class="headerMenuItemClass" href="/viewtweets">View Tweets</a></li>
				<li class="headerMenuItem"><a class="headerMenuItemClass" href="/faq">FAQ</a></li>
				<li class="headerMenuItem"><a class="headerMenuItemClass" href="/admin">Admin</a></li>
				<li class="headerMenuItem"><a class="headerMenuItemClass" href="/logout">Logout</a></li>
			</ul>
		</div>
</header>
</head>
<body id="faqBody">
	<div id="faqMain">
		<h1>Frequently Asked Questions</h1>
		<h2>Where and what data is stored?</h2>
		Your most recent 20 Tweets are collected and stored in our database. All data relating to each Tweet is stored along with sentiment analysis data.
		<hr>
		<h2>Is my Twitter login data kept?</h2>
		No, all authentication/login is stored by Twitter.
		<hr>
		<h2>Is my data kept after I logout?</h2>
		Yes, all of the data we collect is stored in our database and kept after you logout.
		<hr>
		<h2>What is sentiment?</h2>
		A view of or attitude toward a situation or event; an opinion.
		<hr>
		<h2>What is Stanford NLP?</h2>
		Stanford NLP is Stanford Universities Natural Language Processing Group. We use their Stanford CoreNLP which is a natural language processing tool to analyze sentiment.
		<hr>
		<h2>Can I delete my data?</h2>
		Yes, you can delete all of your data from the <a href="/viewtweets">View Tweets</a> page.
	</div>
</body>
<footer>
	<div class="footer">
		<div class="footer-content">
			Guardian Angel
		</div>
	</div>
</footer>
</html>
